.hero {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: calc(40rem / 16);
	padding-bottom: calc(112rem / 16);
	text-align: center;
}

.description {}

.title {
	font-size: calc(46rem / 16);
	
	font-weight: 629;
	line-height: 1.1;
	letter-spacing: -1.38px;

	margin-bottom: calc(24rem / 16);
	max-width: 692px;
}

.decoration {
	color: var(--blue);
}

.text {
	font-size: calc(18rem / 16);
	line-height: 1.2;
}

.button {
	composes: button from './button.module.css';
	margin-top: calc(12rem / 16);
}

.examples {
	margin-top: calc(24rem / 16);
	margin-bottom: calc(52rem / 16);
}

.bots {
	margin-bottom: calc(12rem / 16);
}

.image {
	max-width: 100%;
	object-fit: contain;
}


@media (min-width: 767px) {
	.hero {
		flex-direction: row;
		justify-content: space-between;
		gap: 2rem;
		
		text-align: left;

		margin-top: calc(60rem / 16);
		margin-bottom: calc(143rem / 16);
	}

	.image {
		height: 100%;
	}

	.title {
		margin-bottom: calc(32rem / 16);
	}

	.text {
		font-size: calc(20rem / 16);
		max-width: 350px;
	}

	.button {
		margin-top: calc(32rem / 16);
	}

	.examples {
		margin-top: calc(56rem / 16);
	}
}

@media (min-width: 1500px) {
	.title {
		font-size: calc(80rem / 16);
	}
}